name: Release

on:
  push:
    tags:
      - 'core-v*'

jobs:
  release:
    uses: ./.github/workflows/release.yml
    with:
      working-directory: packages/core
    permissions:
      contents: write
      id-token: write
